
<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= form.hidden_field :service_id, value: @service.id %>


  <div class="field col-6">

    <%= form.collection_select(:pet_id, @my_pets, :id, :name, { :prompt => "Book for..."}, { :class => "form-control"})%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
