<div class="form-signin text-center container" >
<%= image_tag("logo.png", class: "mb-4")%>
<h2 class="h3 mb-3 font-weight-normal" >Enter details</h2>
<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name , class: "form-control", placeholder: "Service name" %>
  </div>
  <div class="field">

    <%= form.text_area :description, class: "form-control", placeholder: "Service Description"  %>
  </div>

  <div class="field">
    <%= form.text_field :price, class: "form-control", placeholder: "Price"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
