
<p id="notice"><%= notice %></p>

  <h2>Services</h2>

<div class="services-list">
  <div class="services-header row mb-3">
    <div class="col-md-3">
      <strong>Service</strong>
    </div>
    <div class="col-md-6">
      <strong>Description</strong>
    </div>
    <div class="col-md-3">
      <strong>Price</strong>
    </div>
  </div>

<% @services.each do |service| %>
  <%= link_to service do %>
      <div class="row mb-3 service">
        <div class="col-md-3">
          <%= service.name %>
        </div>
        <div class="col-md-6">
          <%= service.description %>
        </div>
        <div class="col-md-3">
          <%= number_to_currency(service.price) %>
      </div>
  </div>
    <%end%>
  <% end %>
</div>

  <br>

  <%= link_to 'New Service', new_service_path, class: "btn btn-outline-info btn-lg" %>
