
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@service.price) %>
</p>

<% if current_user.id != @service.user_id%>
<p>
  <strong>Service offered by:</strong>
  <%= @service.user.fname %>
</p>
<% end %>

<% if can? :manage, @service %>
<%= link_to 'Edit', edit_service_path(@service) %> 
<%= link_to 'Add another service', new_service_path %>
<%= link_to 'Back', my_profile_path %> 
<%end%>

<% if current_user.id != @service.user_id%>

<%= render 'booking', service: @service %>
<% end %>
