<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Service offered by:</strong>
  <%= @service.user.fname %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>


<%= render 'booking', service: @service %>


<% if user_signed_in? %>
    <button data-stripe="payment", class="btn btn-primary">Buy Now</button>
    
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
            const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            });
        });
    </script>
<% end %>
