<div class="form-signin text-center container" >

<%= image_tag("logo.png", class: "mb-4")%>
<h2 class="h3 mb-3 font-weight-normal" >Tell us about your pet</h2>
<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class: "form-control", placeholder: "Pet's name"  %>
  </div>

  <div class="field">
    <%= form.select(:species, [['Cat', 'Cat'], ['Dog', 'Dog']], { :prompt => "Species"}, { :class => "form-control"}) %>

  </div>

 <br>
  <div class="field">
    <%= form.label "Show us a cute picture!"%>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg', class: "form-control-file" %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
