<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  The current user is <%= current_user.fname %>
    <% @pets.each do |pet| %>
      <tr>
        <td><% if pet.picture.attached? %>
  <%= image_tag pet.picture, class:"pet-image"  %>
<%elsif pet.species == "Dog" %>
  <%= image_tag 'dog.png', class:"pet-image"%>
<% elsif pet.species =="Cat"%>
  <%= image_tag 'cat.png', class:"pet-image"%>
<%end%></td>
        <td><%= pet.name %></td>
        <td><%= pet.user.fname %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
