<h1>Pets</h1>

  <div class="card-container">
      <% @pets.each do |pet| %>
      <%= link_to pet do%>
          <div class="prof-card">
              <div class="card-body">
                  <% if pet.picture.attached? %>
                    <%= image_tag pet.picture, class:"pet-image"  %>
                  <%elsif pet.species == "Dog" %>
                    <%= image_tag 'dog.png', class:"pet-image"%>
                  <% elsif pet.species =="Cat"%>
                    <%= image_tag 'cat.png', class:"pet-image"%>
                  <%end%>
              </div>
              <div class="card-body">
                  <h5 class="card-title"><%= pet.name %></h5>
                  <p><%= pet.species%></p>
              </div>
          </div>
          <%end%>
      <%end%>
  </div>

<%= link_to 'New Pet', new_pet_path, class: "btn btn-outline-info btn-lg" %>
