<h2>Bookings</h2>

<div class="table-wrapper">
<table class="table">
  <thead>
    <tr>

      <th>Service</th>
      <th>Nurse</th>
      <th>Booked For</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>

        <td><%= booking.service.name %></td>
        <td><%= booking.service.user.fname %></td>
        <td><%= booking.pet.name rescue nil %></td>
        <td><%= number_to_currency(booking.service.price) %></td>
        <td><%= link_to 'Remove from Cart', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? && @prices.sum > 0 %>
    <button data-stripe="payment", class="btn btn-primary">Pay Now</button>
    
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
            const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            });
        });
    </script>
    <%else%>
    <h2> There is nothing in your cart! </h2>
<%end%>
</div>
<br>
<%= link_to 'Cancel', :root %>
