<h2>Bookings</h2>

<div class="services-list">
  <div class="services-header row mb-3">
    <div class="col-md-3">
      <strong>Service</strong>
    </div>
    <div class="col-md-3">
      <strong>Nurse</strong>
    </div>
        <div class="col-md-3">
      <strong>Booked For</strong>
    </div>
    <div class="col-md-3">
      <strong>Price</strong>
    </div>
        <div class="col-md-3">
     
    </div>
  </div>

<% @bookings.each do |booking| %>
 
      <div class="row mb-3 service">
        <div class="col-md-3">
          <%= booking.service.name %>
        </div>
        <div class="col-md-3">
          <%= booking.service.user.fname %>
        </div>
        <div class="col-md-3">
          <%= booking.pet.name rescue nil %>
        </div>
        <div class="col-md-3">
          <%= number_to_currency(booking.service.price) %>
               <%= link_to booking, method: :delete, data: { confirm: 'Delete this Booking?' }  do %>
              <%= image_tag 'cancel.png', class: "cancel"%>
              <%end%>
      </div>
              <div class="col-md-3">

      </div>
  </div>

  <% end %>
</div>




<% if user_signed_in? && @prices.sum > 0 %>
    <button data-stripe="payment", class="btn btn-primary">Pay Now</button>
    <%= link_to 'Cancel', :root, class: "btn btn-primary" %>
    
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
            const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            });
        });
    </script>
    <%else%>
    <h2> There is nothing in your cart! </h2>
<%end%>
</div>
<br>

