
  <% if @booking.pet.picture.attached? %>
    <%= image_tag @booking.pet.picture, class:"pet-image"  %>
      <%elsif @booking.pet.species == "Dog" %>
    <%= image_tag 'dog.png', class:"pet-image"%>
  <% elsif @booking.pet.species =="Cat"%>
    <%= image_tag 'cat.png', class:"pet-image"%>
    <%end%>
<p>
  <strong>Service:</strong>
  <%= @booking.service.name %>
</p>

<p>
  <strong>Nurse:</strong>
  <%= @booking.service.user.fname %>
</p>

<p>
  <strong>Booked For:</strong>
  <%= @booking.pet.name rescue nil%>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@booking.service.price) %>
</p>


<%= link_to 'Checkout Now', bookings_path %><br>
<%= link_to 'Back to Nurse Profile', profile_path(@booking.service.user_id) %>
