<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @booking.service.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= number_to_currency(@booking.service.price) %>
</p>


<%= link_to 'Checkout Now', bookings_path %><br>
<%= link_to 'Back to Nurse Profile', profile_path(@booking.service.user_id) %>