<% session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
<div class="content-container">
<h2> Payment Success! </h2>

<p> Thanks for your order, <%= current_user.fname%>! </p>


<div class="services-list">
  <div class="services-header row">
    <div class="col-md-3">
      <strong>Service</strong>
    </div>
    <div class="col">
      <strong>Nurse</strong>
    </div>
        <div class="col">
      <strong>Booked For</strong>
    </div>
    <div class="col">
      <strong>Price</strong>
    </div>
        <div class="col">
        <strong>Date Paid</strong>
    </div>
  </div>

<% @bookings.each do |booking| %>
 
      <div class="row service">
        <div class="col">
          <%= booking.service.name %>
        </div>
        <div class="col">
          <%= booking.service.user.fname %>
        </div>
        <div class="col">
          <%= booking.pet.name rescue nil %>
        </div>
        <div class="col">
          <%= number_to_currency(booking.service.price) %>

      </div>
      <div class="col">
        <%= booking.created_at.strftime("%d/%m/%Y") %>
      </div>
  </div>

  <% end %>
</div>