<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&display=swap" rel="stylesheet">
</head>

<nav> 
    <div class="topnav navbar fixed-top">
        <%= link_to "Home", :root, class: 'active' %>
        <% if !user_signed_in? %>
            <%= link_to "Sign In", :new_user_session%>
            <%= link_to "Sign Up", :new_user_registration %>
        <% end %>

        <% if user_signed_in? %>
            <%= link_to "My Profile", :my_profile %>
        <% if current_user.is_nurse %>
            <%= link_to "My Services", :my_services %>
        <% end %>
            <%= link_to "My Pets", :pets %>
            <%= link_to "Sign Out", :destroy_user_session, method: "delete" %>
        <% end %>


        <%= form_tag(find_path, method: 'get') do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search", name: nil) %>
        <% end %>

        <%= link_to :bookings do %>
        <%= image_tag 'cart.png', class: "cart-img"%>
        <%end%>
    </div>
 </nav>