<nav> 
    <div class="topnav navbar fixed-top">
        <%= link_to "Home", :root, class: 'active' %>
        <% if !user_signed_in? %>
            <%= link_to "Sign In", :new_user_session%>
            <%= link_to "Sign Up", :new_user_registration %>
        <% end %>

        <% if user_signed_in? %>
            <%= link_to "My Profile", :my_profile %>
        <% if current_user.is_nurse %>
            <%= link_to "My Services", :my_services %>
        <% end %>
            <%= link_to "My Pets", :pets %>
            <%= link_to "Sign Out", :destroy_user_session, method: "delete" %>
        <% end %>

        <div class="input-group mb-3 nav-search">
            <%= form_tag(find_path, method: 'get') do %>
            <div class="input-group-append">
                <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Suburb") %>
                <%= submit_tag("Search", class: "input-group-text", id: "basic-addon2") %>
                <% end %>
            </div>
        </div>

                <%= link_to :bookings do %>
                <%= image_tag 'cart.png', class: "cart-img"%>
                <%end%>
    </div>
 </nav>
