
<%# If user has a picture, display it, otherwise, display the default user/nurse image - could add male/female field and render different images%>

<% if @user.picture.attached? %>
    <%= image_tag @user.picture, class:"user-image" %>
<%elsif @user.is_nurse?%>
    <%= image_tag 'nurse.png', class:"user-image"%>   
<%else%>
    <%= image_tag 'user.png', class:"user-image"%>
<%end%>

<br>
<%= @user.fname %> <%= @user.lname%>
<br>

<% if @user == current_user %>
    <p>
        <strong>Address:</strong><br>
        <%= @user.address.street %><br>
        <%= @user.address.suburb %>,
        <%= @user.address.state %>
    </p>
    <%= link_to 'Edit', edit_address_path(@user.address) %> 
</div>

<% else %>
    <%= @user.address.suburb%>
<%end%>

    <% if @user.is_nurse? && @user.services.length > 0%>    
        <table class="table">
            <thead>
                <th>Service</th>
                <th>Description</th>
                <th>Price</th>
            <tbody>
                <% @user.services.each do |service| %>
                    <tr>
                        <td><%= service.name %></td>
                        <td><%= service.description %></td>
                        <td>$<%= service.price %>0</td>
                        <td><%= link_to 'Show', service %></td>
                        <% if can? :manage, service %>  
                            <td><%= link_to 'Edit', edit_service_path(service) %></td>
                            <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <%end%>  
                    </tr>
                <%end%>  
            </tbody>
        </table>

    <%elsif @user.is_nurse? && @user.services.length == 0%>
    <div class="content-container">
        <p> No services listed yet!  </p>
    <%end%>
    <% if @user.is_nurse? && @user == current_user %>  
    <%= link_to 'Create New Service', new_service_path %>
     <%= link_to 'Edit Login Details', edit_user_registration_path %>
    <%end%>
    </div>


