
<%# If user has a picture, display it, otherwise, display the default user/nurse image - could add male/female field and render different images%>

<% if @user.picture.attached? %>
    <%= image_tag @user.picture, class:"user-image" %>
<%elsif @user.is_nurse?%>
    <%= image_tag 'nurse.png', class:"user-image"%>   
<%else%>
    <%= image_tag 'user.png', class:"user-image"%>
<%end%>

    <br>
    <h2>
    <%= @user.fname %> <%= @user.lname%>
    </h2>
    <br>

<% if @user == current_user %>
    <p>
        <strong>Address:</strong><br>
        <%= @user.address.street rescue nil%><br>
        <%= @user.address.suburb rescue nil%>,
        <%= @user.address.state rescue nil%>
    </p>
    <%= link_to 'Edit Address', edit_address_path(@user.address) rescue nil %> <br>
    <%= link_to 'Edit Login Details', edit_user_registration_path %>

<% else %>
    <%= @user.address.suburb rescue nil%>
<%end%>

    <% if @user.is_nurse? && @user.services.length > 0%>    

<div class="services-list">
  <div class="services-header row mb-3">
    <div class="col-md-3">
      <strong>Service</strong>
    </div>
    <div class="col-md-6">
      <strong>Description</strong>
    </div>
    <div class="col-md-3">
      <strong>Price</strong>
    </div>
  </div>

<% @user.services.each do |service| %>
  <%= link_to service do %>
      <div class="row mb-3 service">
        <div class="col-md-3">
          <%= service.name %>
        </div>
        <div class="col-md-6">
          <%= service.description %>
        </div>
        <div class="col-md-3">
          <%= number_to_currency(service.price) %>
      </div>
  </div>
    <%end%>
  <% end %>
</div>




    <%elsif @user.is_nurse? && @user.services.length == 0%>
<div class="content-container">
        <p> No services listed yet!  </p>
    <%end%>
    <% if @user.is_nurse? && @user == current_user %>  
      <%= link_to 'New Service', new_service_path, class: "btn btn-outline-info btn-lg" %>

    <%end%>
</div>


