 <% if @nurses.length > 0 %>
        <h2> Here are all the nurses near you... </h2>

        <div class="card-container">
            <% @nurses.each do |nurse| %>
            <%= link_to profile_path(nurse) do%>
                <div class="prof-card">
                    <div class="card-body">
                        <% if nurse.picture.attached? %>
                            <%= image_tag nurse.picture, class:"user-image" %>
                        <%else%>
                            <%= image_tag 'nurse.png', class:"user-image"%>
                        <%end%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= nurse.fname %></h5>
                        <p> From <%= nurse.address.suburb%></p>
                    </div>
                </div>
                <%end%>
            <%end%>
        </div>

    <% else %>
        <p> Sorry... No results found... Please try again </p>
            <%= form_tag(find_path, method: 'get') do %>
                <%= text_field_tag(:search, params[:search]) %>
                <%= submit_tag("Search", name: nil) %>
        <%end%>
    <% end %>
