

<%= image_tag @user.picture, class:"pet-image"  if @user.picture.attached? %>
<br>
<%= @user.fname%>
<br>
<%= @user.address.suburb%>

    <% @user.services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.price %></td>
        <td><%= service.user.fname %></td>
        <td><%= link_to 'Show', service %></td>
        
        <% if can? :manage, service %>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
