<div class="form-signin text-center container" >

<%= image_tag("logo.png", class: "mb-4")%>
<h2 class="h3 mb-3 font-weight-normal" >Where do you live?</h2>
<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :street, class: "form-control", placeholder: "Street" %>
  </div>
  <div class="field">

    <%= form.text_field :suburb, class: "form-control", placeholder: "Suburb" %>
  </div>

  <div class="field">
  <%= form.select(:state, [['New South Wales', 'NSW'], ['Victoria', 'VIC'], ['Queensland', 'QLD'], ['South Australia', 'SA'], ['Tasmania', 'TAS'], ['Western Australia', 'WA']])%>
    <%# <%= form.select :state, options_for_select["NSW", "VIC", "QLD", "NT", "TAS", "ACT"] %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>