<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @address.longitude %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> 
