<!DOCTYPE html>
<html>
  <head>
    <title>Whiskr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300;1,400;1,700&family=Sacramento&display=swap" rel="stylesheet">
  </head>

  <body>

    <%=render "shared/navbar"%> 

    <% unless params[:action] == 'home' %>
      <div class="notifications">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="content-container">

        <%= yield %>
      </div>

    <%else%>

      <%= yield%>

    <% end %>

  </body>
</html>
